//- https://bxslider.com/ 

ul.bxslider
  li.slide-item
    img(src="https://structure.thememove.com/data/homev2/slide01_bg.jpg", alt="")
    .info-slide
      p.text-one esta buscando una cotización
      p.text-two solicite #[span.text-center su] cotización
      p.text-three: a(href="#") Cotización

  li.slide-item
    img(src="https://structure.thememove.com/data/homev2/slide02_bg.jpg", alt="")
    .info-slide
      p.text-one esta buscando una cotización
      p.text-two solicite #[span.text-center su] cotización
      p.text-three: a(href="#") Cotización
      
  li.slide-item
    img(src="https://structure.thememove.com/data/homev2/slide03_bg.jpg", alt="")
    .info-slide
      p.text-text Formamos personal altamente capacitado en el que pueden confiar toda su operación.
      p.text-two solicite #[span.text-center su] cotización
      p.text-three: a(href="#") Cotización